<template>
  <div>
    <div class="header pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <div class="container-fluid">
        <div class="header-body">
          <div v-if="counter" class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Total
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.voucher }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-red">
                        <i class="fa fa-user-edit" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="mb-3">
        <ctable
          v-if="coupons"
          :data="coupons"
          :fields="couponsColumns"
          :collection="'vouchers'"
          :tablename="'Coupons Statistics'"
        >
          <template v-slot:add-button>
            <button data-toggle="modal" data-target="#add-coupon-modal" class="btn btn-sm btn-primary">
              <i class="fa fa-plus" />
            </button>
            <AddCouponModal />
          </template>
        </ctable>
      </div>
    </div>
  </div>
</template>

<script>
import ctable from '@/components/customs/ctable'
import AddCouponModal from '@/components/customs/modals/add/AddCouponModal'
export default {
  layout: 'admin',
  components: { ctable, AddCouponModal },
  data() {
    return {
      counter: null,
      coupons: [],
      couponsColumns: [
        {
          name: 'id',
          title: 'id',
          sortField: 'id',
          width: '20%'
        },
        {
          name: 'name',
          title: 'Name',
          sortField: 'name'
        },
        {
          name: 'des',
          title: 'Description',
          sortField: 'des'
        },
        {
          name: 'createdAt',
          title: 'created',
          sortField: 'createdAt',
          formatter: (value) => {
            if (value) {
              return value.toDate().toLocaleDateString()
            }
          }
        },
        {
          name: 'updatedAt',
          title: 'Updated',
          sortField: 'updatedAt',
          formatter: (value) => {
            if (value) {
              return value.toDate().toLocaleDateString()
            }
          }
        }
      ]
    }
  },
  head() {
    return {
      title: 'Admin Coupon Control'
    }
  },
  mounted() {
    this.$loadCounter('admin')
    this.loadCoupons()
  },
  methods: {
    loadCoupons() {
      this.$fstore.collection('vouchers').onSnapshot((querySnapshot) => {
        const coupons = querySnapshot.docs.map((coupon) => {
          return {
            ...coupon.data(),
            id: coupon.id
          }
        })
        this.coupons = coupons
      })
    }
  }
}
</script>
