<template>
  <div>
    <div class="header pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <div class="container-fluid">
        <div class="header-body">
          <div v-if="counter" class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Customer
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.user.customer }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-red">
                        <i class="fa fa-users" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Active
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.user.active }}</span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="icon icon-shape text-white rounded-circle shadow bg-gradient-orange"
                      >
                        <i class="fas fa-server" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Banded
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.user.banded }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-green">
                        <i class="fa fa-shopping-cart" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Admin
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.user.admin }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-info">
                        <i class="fas fa-money-check-alt" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="mb-3">
        <ctable
          v-if="users"
          :data="users"
          :fields="usersColumns"
          :collection="'users'"
          :tablename="'Users Statistics'"
        >
          <template v-slot:add-button>
            <n-link to="/admin/user/add" class="btn btn-sm btn-primary">
              <i class="fa fa-plus" />
            </n-link>
          </template>
        </ctable>
      </div>
    </div>
  </div>
</template>

<script>
import ctable from '@/components/customs/ctable'
export default {
  layout: 'admin',
  components: { ctable },
  data() {
    return {
      counter: null,
      users: [],
      usersColumns: [
        {
          name: 'id',
          title: 'ID',
          sortField: 'id',
          width: '20%'
        },
        {
          name: 'email',
          title: 'email',
          sortField: 'email'
        },
        {
          name: 'name',
          title: 'name',
          sortField: 'name'
        },
        {
          name: 'role',
          title: 'role',
          sortField: 'role',
          formatter: (role) => {
            return role === 'admin'
              ? '<span class="badge badge-danger"><i class="fa fa-cog mr-1"></i> Administrator</span>'
              : '<span class="badge badge-primary"><i class="fa fa-user mr-1"></i> Customer</span>'
          }
        },
        {
          name: 'createdAt',
          title: 'Created',
          sortField: 'createdAt'
        },
        {
          name: 'updatedAt',
          title: 'Updated',
          sortField: 'updatedAt'
        }
      ]
    }
  },
  head() {
    return {
      title: 'Admin User Control'
    }
  },
  mounted() {
    this.$loadCounter('admin')
    this.loadUsers()
  },
  methods: {
    loadUsers() {
      this.$fstore.collection('users').onSnapshot((querySnapshot) => {
        const users = querySnapshot.docs.map((user) => {
          return {
            ...user.data(),
            createdAt: user.data().createdAt.toDate().toLocaleDateString(),
            updatedAt: user.data().updatedAt.toDate().toLocaleDateString(),
            id: user.id
          }
        })
        this.users = users
      })
    }
  }
}
</script>
