<template>
  <div
    id="add-author-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-form"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-sm modal-lg modal-md" role="document">
      <div class="modal-content bg-secondary">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span>×</span>
          </button>
        </div>
        <div class="modal-body text-left">
          <form role="form" @submit.prevent="addAuthor">
            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" v-model="author.name" type="text" name="name" class="form-control form-control-alternative">
            </div>
            <div class="form-group">
              <label for="des">Description</label>
              <input id="des" v-model="author.des" name="des" type="text" class="form-control form-control-alternative">
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-primary">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as $ from 'jquery'
export default {
  data() {
    return {
      author: {
        name: '',
        des: ''
      }
    }
  },
  methods: {
    addAuthor() {
      this.$validator.validateAll().then((valid) => {
        if (!valid) {
          this.$snotify.warning('Please provide all required field')
          return
        }
        const data = {
          ...this.author,
          createdAt: this.$FSTORE.FieldValue.serverTimestamp(),
          updatedAt: this.$FSTORE.FieldValue.serverTimestamp()
        }
        this.$fstore.collection('authors').add(data).then(() => {
          this.$snotify.success('Author has been created')
          $('#add-author-modal').modal('hide')
        }).catch(() => {
          this.$snotify.error('Failed to create new author')
        })
      })
    }
  }
}
</script>

<style>

</style>
