// TODO: chua giai quyet duoc condition
<template>
  <div
    id="add-coupon-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-form"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-sm modal-lg modal-md" role="document">
      <div class="modal-content bg-secondary">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span>×</span>
          </button>
        </div>
        <div class="modal-body text-left">
          <form role="form" @submit.prevent="addCoupon">
            <div class="row">
              <div class="form-group col-lg-12">
                <label for="name">Name</label>
                <input id="name" v-model="coupon.name" type="text" name="name" class="form-control form-control-alternative">
              </div>
              <div class="form-group col-lg-12">
                <label for="des">Description</label>
                <input id="des" v-model="coupon.des" name="des" type="text" class="form-control form-control-alternative">
              </div>
              <div class="form-group col-lg-12">
                <label for="code">Code</label>
                <input id="code" v-model="coupon.code" name="code" type="text" class="form-control form-control-alternative">
              </div>
              <div class="form-group col-lg-12">
                <label for="type">Type</label>
                <select id="type" v-model="coupon.type" name="type" class="form-control form-control-alternative">
                  <option value="global">
                    Global
                  </option>
                  <option value="global">
                    Specified
                  </option>
                  <option value="global">
                    Shipping
                  </option>
                </select>
              </div>

              <div class="form-group" :class="coupon.condition.type !== 'none' ? 'col-lg-6' : 'col-lg-12'">
                <label for="condition_type">Condition</label>
                <select id="condition_type" v-model="coupon.condition.type" name="condition_type" class="form-control form-control-alternative">
                  <option value="greater">
                    Greater
                  </option>
                  <option value="less">
                    Less
                  </option>
                  <option value="none">
                    None
                  </option>
                </select>
              </div>
              <div v-if="coupon.condition.type !== 'none'" class="form-group col-lg-6">
                <label for="condition_value">Condition Value</label>
                <input id="condition_value" v-model.number="coupon.condition.value" type="number" name="condition_name" class="form-control form-control-alternative">
              </div>
              <div v-if="coupon.condition.type !== 'none'" class="form-group col-lg-12">
                <label for="condition_column">Condition Column</label>
                <select id="condition_type" v-model="coupon.condition.column" name="condition_type" class="form-control form-control-alternative">
                  <option v-for="item in condition_columns" :key="item" :value="item">
                    {{ item }}
                  </option>
                </select>
              </div>
              <div class="col-lg-6">
                <label for="startAt">Start</label>
                <flat-pickr
                  name="startAt"
                  class="form-control form-control-alternative bg-white"
                  v-model="coupon.startAt"
                />
              </div>
              <div class="col-lg-6">
                <label for="endAt">End</label>
                <flat-pickr
                  name="endAt"
                  class="form-control form-control-alternative bg-white"
                  v-model="coupon.endAt"
                />
              </div>
            </div>
            <div class="text-right mt-4">
              <button type="submit" class="btn btn-primary">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import * as $ from 'jquery'
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
export default {
  components: { flatPickr },
  data() {
    return {
      coupon: {
        name: '',
        des: '',
        code: '',
        startAt: new Date(),
        endAt: new Date(),
        active: false,
        collection: '',
        condition: {
          column: '',
          type: 'greater', // greater or less
          value: 0
        },
        numberOfUses: 1,
        type: 'global', // global or specified
        used: [],
        value: {
          type: 'money',
          value: 0
        }
      },
      condition_columns: [
        'price',
        'shipping'
      ]
    }
  },
  methods: {
    addPublisher() {
      this.$validator.validateAll().then((valid) => {
        if (!valid) {
          this.$snotify.warning('Please provide all required field')
          return
        }
        const data = {
          ...this.publisher,
          createdAt: this.$FSTORE.FieldValue.serverTimestamp(),
          updatedAt: this.$FSTORE.FieldValue.serverTimestamp()
        }
        this.$fstore.collection('publishers').add(data).then(() => {
          this.$snotify.success('Publisher has been created')
          $('#add-publisher-modal').modal('hide')
        }).catch(() => {
          this.$snotify.error('Failed to create new publisher')
        })
      })
    }
  }
}
</script>

<style>

</style>
