<template>
  <div
    id="add-import-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-form"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-sm modal-lg modal-md" role="document">
      <div class="modal-content bg-secondary">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span>×</span>
          </button>
        </div>
        <div class="modal-body text-left">
          <form role="form" @submit.prevent="addImport">
            <div class="form-group">
              <label for="name">Name</label>
              <select id="provider" v-model="imports.provider" name="provider" class="form-control form-control-alternative">
                <option v-for="item in providers" :key="item.id" :value="{id: item.id, name: item.name }">
                  {{ item.name }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="note">Note</label>
              <input id="note" v-model="imports.note" name="note" type="text" class="form-control form-control-alternative">
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between my-1">
                <label for="products">Products</label>
                <button type="button" class="btn btn-sm btn-primary" @click="addProductToImport">
                  <i class="fa fa-plus" />
                </button>
              </div>
              <div v-for="(item, key) in imports.products" :id="'product-select-'+key" :key="key" class="form-group">
                <div v-if="item" class="row">
                  <div class="col-6">
                    <select :id="key + '-select'" v-model="imports.products[key]" name="product_name" class="form-control form-control-alternative">
                      <option v-for="product in products" :key="product.id" :value="{id: product.id, name: product.name, author: product.author, category: product.category, publisher: product.publisher, quantity: imports.products[key].quantity}">
                        {{ product.name }}
                      </option>
                    </select>
                  </div>
                  <div class="col-5">
                    <input v-model.number="imports.products[key].quantity" type="number" class="form-control form-control-alternative" placeholder="Quantity">
                  </div>
                  <div class="col-1 text-right pt-2">
                    <button type="button" class="btn btn-sm btn-danger" @click="removeProductFromImport(key)">
                      <i class="fa fa-trash" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-primary">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as $ from 'jquery'
export default {
  data() {
    return {
      providers: [],
      products: [],
      imports: {
        note: '',
        numberOfProducts: 0,
        products: [
          {
            id: '',
            name: '',
            author: {},
            category: {},
            publisher: {},
            quantity: 0
          }
        ],
        provider: {
          id: '',
          name: ''
        }
      }
    }
  },
  mounted() {
    this.loadProviders()
    this.loadProducts()
  },
  methods: {
    addImport() {
      this.imports.numberOfProducts = this.imports.products.length
      this.$validator.validateAll().then((valid) => {
        if (!valid) {
          this.$snotify.warning('Please provide all required field')
          return
        }
        this.$fstore.collection('imports').add({
          ...this.imports,
          createdAt: this.$FSTORE.FieldValue.serverTimestamp(),
          updatedAt: this.$FSTORE.FieldValue.serverTimestamp()
        }).then(() => {
          this.$snotify.success('Import has been created')
          $('#add-import-modal').modal('hide')
        }).catch(() => {
          this.$snotify.error('Failed to create new import')
        })
      })
    },
    loadProviders() {
      this.$fstore.collection('providers').get().then((res) => {
        const providers = res.docs.map((provider) => {
          return {
            ...provider.data(),
            id: provider.id
          }
        })
        this.providers = providers
      })
    },
    loadProducts() {
      this.$fstore.collection('products').get().then((res) => {
        const products = res.docs.map((product) => {
          return {
            ...product.data(),
            id: product.id
          }
        })
        this.products = products
      })
    },
    addProductToImport() {
      this.imports.products.push({
        id: '',
        name: '',
        publisher: {},
        category: {},
        author: {},
        quantity: 0
      })
    },
    removeProductFromImport(key) {
      this.imports.products.splice(key, 1)
    }
  }
}
</script>

<style>

</style>
