<template>
  <div
    id="add-product-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-form"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-sm modal-lg modal-md" role="document">
      <div class="modal-content bg-secondary">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span>×</span>
          </button>
        </div>
        <div class="modal-body text-left">
          <form role="form" @submit.prevent="addProduct">
            <div class="form-group">
              <label for="name">Name</label>
              <input v-model="product.name" type="text" class="form-control form-control-alternative">
            </div>
            <div class="form-group">
              <label for="name">Price</label>
              <input v-model.number="product.price" type="number" min="0" class="form-control form-control-alternative">
            </div>
            <div class="form-group">
              <label for="category">Category</label>
              <select id="category" v-model="product.category" name="category" class="form-control form-control-alternative">
                <option v-for="item in categories" :key="item.id" :value="{ name: item.name, id: item.id}">
                  {{ item.name }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="author">Author</label>
              <select id="author" v-model="product.author" name="author" class="form-control form-control-alternative">
                <option v-for="item in authors" :key="item.id" :value="{ name: item.name, id: item.id}">
                  {{ item.name }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="des">Description (Optional)</label>
              <textarea id="des" name="des" cols="30" rows="5" class="form-control" />
            </div>
            <div class="text-right">
              <button class="btn btn-primary mt-4" type="submit">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      categories: [],
      authors: [],
      category: {},
      product: {
        name: '',
        des: '',
        price: 0,
        category: {
          name: '',
          id: ''
        },
        instock: 0,
        sold: 0,
        total: 0,
        author: {
          name: '',
          id: ''
        }
      }
    }
  },
  mounted() {
    this.loadCategories()
    this.loadAuthors()
  },
  methods: {
    loadCategories() {
      this.$fstore.collection('categories').get().then((res) => {
        const categories = res.docs.map((category) => {
          return {
            ...category.data(),
            id: category.id
          }
        })
        this.categories = categories
      })
    },
    loadAuthors() {
      this.$fstore.collection('authors').get().then((res) => {
        const authors = res.docs.map((author) => {
          return {
            ...author.data(),
            id: author.id
          }
        })
        this.authors = authors
      })
    },
    addProduct() {
      this.$fstore.collection('products').add({
        ...this.product,
        createdAt: this.$FSTORE.FieldValue.serverTimestamp(),
        updatedAt: this.$FSTORE.FieldValue.serverTimestamp()
      }).then(() => {
        this.$snotify.success('Product has been created')
      }).catch(() => {
        this.$snotify.error('Failed to add new product')
      })
    }
  }
}
</script>

<style>

</style>
