<template>
  <div>
    <div class="header pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <div class="container-fluid">
        <div class="header-body">
          <div v-if="counter" class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Total
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.review }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-red">
                        <i class="fa fa-star" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="mb-3">
        <ctable
          v-if="reviews"
          :data="reviews"
          :fields="reviewsColumns"
          :collection="'reviews'"
          :tablename="'reviews Statistics'"
        >
          <template v-slot:add-button>
            <n-link to="/admin/review/add" class="btn btn-sm btn-primary">
              <i class="fa fa-plus" />
            </n-link>
          </template>
        </ctable>
      </div>
    </div>
  </div>
</template>

<script>
import ctable from '@/components/customs/ctable'
export default {
  layout: 'admin',
  components: { ctable },
  data() {
    return {
      counter: null,
      reviews: [],
      reviewsColumns: [
        {
          name: 'id',
          title: 'id',
          sortField: 'id',
          width: '20%'
        },
        {
          name: 'user.name',
          title: 'User',
          sortField: 'user.name'
        },
        {
          name: 'content',
          title: 'content',
          sortField: 'content'
        },
        {
          name: 'rate',
          title: 'rate',
          sortField: 'rate'
        },
        {
          name: 'product.name',
          title: 'product',
          sortField: 'product.name'
        },
        {
          name: 'createdAt',
          title: 'created',
          sortField: 'createdAt'
        },
        {
          name: 'updatedAt',
          title: 'Updated',
          sortField: 'updatedAt'
        }
      ]
    }
  },
  head() {
    return {
      title: 'Admin Review Control'
    }
  },
  mounted() {
    this.$loadCounter('admin')
    this.loadReviews()
  },
  methods: {
    loadReviews() {
      this.$fstore.collection('reviews').onSnapshot((querySnapshot) => {
        const reviews = querySnapshot.docs.map((review) => {
          return {
            ...review.data(),
            createdAt: review.data().createdAt.toDate().toLocaleDateString(),
            updatedAt: review.data().updatedAt.toDate().toLocaleDateString(),
            id: review.id
          }
        })
        this.reviews = reviews
      })
    }
  }
}
</script>
