/* eslint-disable */
<template>
  <nav
    id="sidenav-main"
    class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white"
  >
    <div class="container-fluid">
      <!--Toggler-->
      <navbar-toggle-button @click.native="showSidebar">
        <span class="navbar-toggler-icon" />
      </navbar-toggle-button>
      <n-link class="navbar-brand" to="/">
        <img :src="logo" class="navbar-brand-img" alt="...">
      </n-link>

      <slot name="mobile-right">
        <ul class="nav align-items-center d-md-none">
          <BaseDropdown class="nav-item" position="right">
            <a
              slot="title"
              class="nav-link nav-link-icon"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="ni ni-bell-55" />
            </a>

            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider" />
            <a class="dropdown-item" href="#">Something else here</a>
          </BaseDropdown>
          <BaseDropdown class="nav-item" position="right">
            <a slot="title" class="nav-link" href="#" role="button">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" :src="user.avatar.url">
                </span>
              </div>
            </a>

            <div class="dropdown-header noti-title">
              <h6 class="text-overflow m-0">
                Welcome!
              </h6>
            </div>
            <n-link to="/profile" class="dropdown-item">
              <i class="ni ni-single-02" />
              <span>My profile</span>
            </n-link>
            <n-link to="/profile" class="dropdown-item">
              <i class="ni ni-settings-gear-65" />
              <span>Settings</span>
            </n-link>
            <n-link to="/profile" class="dropdown-item">
              <i class="ni ni-calendar-grid-58" />
              <span>Activity</span>
            </n-link>
            <n-link to="/profile" class="dropdown-item">
              <i class="ni ni-support-16" />
              <span>Support</span>
            </n-link>
            <div class="dropdown-divider" />
            <a href="#!" class="dropdown-item">
              <i class="ni ni-user-run" />
              <span>Logout</span>
            </a>
          </BaseDropdown>
        </ul>
      </slot>
      <slot />
      <div
        v-show="$sidebar.showSidebar"
        id="sidenav-collapse-main"
        class="navbar-collapse collapse show"
      >
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <n-link to="/">
                <img :src="logo">
              </n-link>
            </div>
            <div class="col-6 collapse-close">
              <navbar-toggle-button
                @click.native="closeSidebar"
              />
            </div>
          </div>
        </div>

        <ul class="navbar-nav">
          <slot name="links" />
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
import NavbarToggleButton from '@/components/argon/NavbarToggleButton'

export default {
  name: 'Sidebar',
  components: {
    NavbarToggleButton
  },
  props: {
    logo: {
      type: String,
      default: '/img/green.png',
      description: 'Sidebar app logo'
    },
    autoClose: {
      type: Boolean,
      default: true,
      description:
        'Whether sidebar should autoclose on mobile when clicking an item'
    },
    user: {
      type: Object,
      required: true
    }
  },
  provide() {
    return {
      autoClose: this.autoClose
    }
  },
  beforeDestroy() {
    if (this.$sidebar.showSidebar) {
      this.$sidebar.showSidebar = false
    }
  },
  methods: {
    closeSidebar() {
      this.$sidebar.displaySidebar(false)
    },
    showSidebar() {
      this.$sidebar.displaySidebar(true)
    }
  }
}
</script>
