<template>
  <th
    v-if="isHeader"
  >
    Action
  </th>
  <td v-else>
    <div class="text-center">
      <button class="btn btn-sm btn-primary" data-toggle="modal" :data-target="'#view-order-' + rowData.id">
        <i class="fa fa-eye" />
      </button>
      <ViewOrderModal :rowData="rowData" />
      <button class="btn btn-sm btn-danger" @click="deleteOrder(rowData)">
        <i class="fa fa-trash" />
      </button>
    </div>
  </td>
</template>
<script>
import VuetableFieldMixin from 'vuetable-2/src/components/VuetableFieldMixin.vue'
import ViewOrderModal from '@/components/customs/modals/view/ViewOrderModal'
export default {
  name: 'Action',
  components: { ViewOrderModal },
  mixins: [VuetableFieldMixin],
  methods: {
    deleteOrder(rowData) {
      this.$fstore.collection('orders').doc(rowData.id).delete().then((res) => {
        this.$snotify.error('Order has been removed')
      }).catch(() => {
        this.$snotify.error('Failed to remove order')
      })
    }
  }
}
</script>
