<template>
  <div>
    <div class="header pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <div class="container-fluid">
        <div class="header-body">
          <div v-if="counter" class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <!---->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Customer
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.user.customer }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-red">
                        <i class="fa fa-users" />
                      </div>
                    </div>
                  </div>
                </div>
                <!---->
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <!---->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Products
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.product.total }}</span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="icon icon-shape text-white rounded-circle shadow bg-gradient-orange"
                      >
                        <i class="fas fa-server" />
                      </div>
                    </div>
                  </div>
                </div>
                <!---->
                <!---->
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <!---->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Orders
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.order.total }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-green">
                        <i class="fa fa-shopping-cart" />
                      </div>
                    </div>
                  </div>
                </div>
                <!---->
                <!---->
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <!---->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Money (VND)
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.money | currency }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-info">
                        <i class="fas fa-money-check-alt" />
                      </div>
                    </div>
                  </div>
                </div>
                <!---->
                <!---->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="mb-3">
        <ctable
          v-if="recentOrders"
          :data="recentOrders"
          :fields="ordersColumns"
          :collection="'orders'"
          :tablename="'Recent Orders'"
        />
      </div>
      <div class="mb-3">
        <ctable
          v-if="recentProducts"
          :data="recentProducts"
          :fields="productsColumns"
          :collection="'products'"
          :tablename="'Recent Products'"
        />
      </div>
      <div class="mb-3">
        <ctable
          v-if="recentReviews"
          :data="recentReviews"
          :fields="reviewsColumns"
          :collection="'reviews'"
          :tablename="'Recent Reviews'"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ctable from '@/components/customs/ctable'
export default {
  layout: 'admin',
  components: { ctable },
  data() {
    return {
      // admin dashboard counter
      counter: null,
      // Five latest new order
      recentOrders: [],
      // Five latest new product
      recentProducts: [],
      // Five latest reviews
      recentReviews: [],
      // Colums' name of recent orders table
      ordersColumns: [
        {
          name: 'id',
          title: 'ID',
          sortField: 'id',
          width: '20%'
        },
        {
          name: 'user.name',
          title: 'Name',
          sortField: 'username'
        },
        {
          name: 'numberOfProduct',
          title: 'Product',
          sortField: 'numberOfProduct'
        },
        {
          name: 'total',
          title: 'total',
          sortField: 'total'
        },
        {
          name: 'status',
          title: 'status',
          sortField: 'status',
          width: '20%',
          formatter: (status) => {
            return status === 'cancelled'
              ? '<span class="badge badge-danger"><i class="fa fa-times mr-1"></i> Cancelled</span>'
              : status === 'confirmed'
                ? '<span class="badge badge-primary"><i class="fa fa-check mr-1"></i> Confirmed</span>'
                : status === 'pending'
                  ? '<span class="badge badge-warning"><i class="fa fa-clock mr-1"></i> Pending</span>'
                  : status === 'success'
                    ? '<span class="badge badge-success"><i class="fa fa-user-check mr-1"></i> Success</span>'
                    : '<span class="badge badge-info"><i class="fa fa-shipping-timed mr-1"></i> Shipping</span>'
          }
        }
      ],
      // Columns' name of recent products table
      productsColumns: [
        {
          name: 'id',
          title: 'ID',
          sortField: 'id',
          width: '20%'
        },
        {
          name: 'name',
          title: 'Name',
          sortField: 'name'
        },
        {
          name: 'category.name',
          title: 'Category',
          sortField: 'category.name'
        },
        {
          name: 'total',
          title: 'Total',
          sortField: 'total'
        },
        {
          name: 'sold',
          title: 'Sold',
          sortField: 'sold'
        },
        {
          name: 'instock',
          title: 'Instock',
          sortField: 'instock'
        }
      ],
      // Columns' name of recent reviews table
      reviewsColumns: [
        {
          name: 'id',
          title: 'ID',
          sortField: 'id',
          width: '20%'
        },
        {
          name: 'user.name',
          title: 'User',
          sortField: 'user.name'
        },
        {
          name: 'rate',
          title: 'Rate',
          sortField: 'rate'
        },
        {
          name: 'product',
          title: 'Product',
          sortField: 'product.name',
          formatter: (product) => {
            return `<a href="/admin/product/${product.id}">${product.name}</router-l>`
          }
        }
      ]
    }
  },
  head() {
    return {
      title: 'Admin Dashboard'
    }
  },
  mounted() {
    this.$loadCounter('admin')
    this.loadRecentOrders()
    this.loadRecentProducts()
    this.loadRecentReviews()
  },
  methods: {
    loadRecentOrders() {
      // load five latest orders
      this.$fstore.collection('orders').limit(5).onSnapshot((querySnapshot) => {
        const orders = querySnapshot.docs.map((doc) => {
          return {
            ...doc.data(),
            id: doc.id
          }
        })
        this.recentOrders = orders
      })
    },
    loadRecentProducts() {
      // load five newest products
      this.$fstore.collection('products').orderBy('createdAt', 'desc').limit(5).onSnapshot((querySnapshot) => {
        const products = querySnapshot.docs.map((doc) => {
          return {
            ...doc.data(),
            id: doc.id
          }
        })
        this.recentProducts = products
      })
    },
    loadRecentReviews() {
      this.$fstore.collection('reviews').orderBy('createdAt', 'desc').onSnapshot((querySnapshot) => {
        const reviews = querySnapshot.docs.map((doc) => {
          return {
            ...doc.data(),
            id: doc.id
          }
        })
        this.recentReviews = reviews
      })
    }
  }
}
</script>

<style></style>
