<template>
  <nav
    class="navbar"
    :class="[
      { 'navbar-expand-md': expand },
      { 'navbar-transparent': transparent },
      { [`bg-${type}`]: type }
    ]"
  >
    <div :class="containerClasses">
      <slot v-if="allowBreadcrumb" name="brand">
        <n-link
          :to="$route.path"
          class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
        >
          {{ $route.name }}
        </n-link>
      </slot>
      <navbar-toggle-button
        v-if="showToggleButton"
        :toggled="toggled"
        :target="contentId"
        @click.native.stop="toggled = !toggled"
      >
        <span class="navbar-toggler-icon" />
      </navbar-toggle-button>

      <div
        :id="contentId"
        v-click-outside="closeMenu"
        class="collapse navbar-collapse"
        :class="{ show: toggled }"
      >
        <slot :close-menu="closeMenu" />
      </div>
    </div>
  </nav>
</template>
<script>
import NavbarToggleButton from './NavbarToggleButton'

export default {
  name: 'BaseNav',
  components: {
    NavbarToggleButton
  },
  props: {
    allowBreadcrumb: {
      type: Boolean,
      default: true
    },
    type: {
      type: String,
      default: '',
      description: 'Navbar type (e.g default, primary etc)'
    },
    title: {
      type: String,
      default: '',
      description: 'Title of navbar'
    },
    contentId: {
      type: [String, Number],
      default: Math.random().toString(),
      description:
        "Explicit id for the menu. By default it's a generated random number"
    },
    containerClasses: {
      type: [String, Object, Array],
      default: 'container-fluid'
    },
    transparent: {
      type: Boolean,
      default: false,
      description: 'Whether navbar is transparent'
    },
    expand: {
      type: Boolean,
      default: false,
      description: 'Whether navbar should contain `navbar-expand-lg` class'
    },
    showToggleButton: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      toggled: false
    }
  },
  methods: {
    closeMenu() {
      this.toggled = false
    }
  }
}
</script>
<style>
.container-alternative {
  width: 70%;
  margin: auto;
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
}
</style>
