<template>
  <base-nav
    id="navbar-main"
    class="navbar-top navbar-dark"
    :show-toggle-button="false"
    expand
  >
    <form
      class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto"
    >
      <div class="form-group mb-0">
        <base-input
          placeholder="Search"
          class="input-group-alternative"
          alternative
          addon-right-icon="fas fa-search"
        />
      </div>
    </form>
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item dropdown">
        <base-dropdown class="nav-link pr-0">
          <div
            slot="title"
            class="media align-items-center"
            style="cursor: pointer"
          >
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" :src="user.avatar.url" class="img-fluid">
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm font-weight-bold">{{ user.name }}</span>
            </div>
          </div>

          <template>
            <div class="dropdown-header noti-title">
              <h6 class="text-overflow m-0">
                Welcome!
              </h6>
            </div>
            <p class="dropdown-item" style="cursor: pointer" @click="logout">
              <i class="ni ni-user-run" />
              <span>Logout</span>
            </p>
          </template>
        </base-dropdown>
      </li>
    </ul>
  </base-nav>
</template>
<script>
export default {
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      activeNotifications: false,
      showMenu: false,
      searchQuery: ''
    }
  },
  methods: {
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
    },
    hideSidebar() {
      this.$sidebar.displaySidebar(false)
    },
    toggleMenu() {
      this.showMenu = !this.showMenu
    },
    logout() {
      this.$fauth.signOut().then(() => {
        this.$snotify.warning('Bạn đã đăng xuât. Đang chuyển hướng')
        this.$router.push({ path: '/' })
      })
    }
  }
}
</script>
<style lang="scss">
.dropdown-menu {
  min-width: 10rem!important;
}
</style>
