<template>
  <div
    :id="'view-order-'+rowData.id"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-form"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-sm modal-lg modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span>×</span>
          </button>
        </div>
        <div class="modal-body text-left">
          <div class="row">
            <div class="col-4">
              <h5>Number</h5>
            </div>
            <div class="col-8">
              <p class="font-weight-bold">
                {{ rowData.id }}
              </p>
            </div>
            <div class="col-4">
              <h5>Name</h5>
            </div>
            <div class="col-8">
              <p class="text-danger font-weight-bold">
                {{ rowData.name }}
              </p>
            </div>
            <div class="col-4">
              <h5>Category</h5>
            </div>
            <div class="col-8">
              <p class="font-weight-bold">
                {{ rowData.category.name }}
              </p>
            </div>
            <div class="col-4">
              <h5>Author</h5>
            </div>
            <div class="col-8">
              <p class="font-weight-bold">
                {{ rowData.author.name }}
              </p>
            </div>
            <div class="col-4">
              <h5>Instock</h5>
            </div>
            <div class="col-8">
              <p class="font-weight-bold">
                {{ rowData.instock }}
              </p>
            </div>
            <div class="col-4">
              <h5>Sold</h5>
            </div>
            <div class="col-8">
              <p class="font-weight-bold">
                {{ rowData.sold }}
              </p>
            </div>
            <div class="col-4">
              <h5>Total</h5>
            </div>
            <div class="col-8">
              <p class="font-weight-bold">
                {{ rowData.total }}
              </p>
            </div>
            <div class="col-4">
              <h5>Created</h5>
            </div>
            <div class="col-8">
              <p class="font-weight-bold">
                {{ rowData.createdAt | serverTimestamp }}
              </p>
            </div>
            <div class="col-4">
              <h5>Updated</h5>
            </div>
            <div class="col-8">
              <p class="font-weight-bold">
                {{ rowData.updatedAt | serverTimestamp }}
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" data-dismiss="modal" class="btn btn-secondary">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    rowData: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.dropdown-item {
  cursor: pointer!important;
}
</style>
