<template>
  <div
    :id="'view-order-'+rowData.id"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-form"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-sm modal-lg modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span>×</span>
          </button>
        </div>
        <div class="modal-body text-left">
          <div class="row">
            <div class="col-4">
              <h5>Number</h5>
            </div>
            <div class="col-8">
              <p>{{ rowData.id }}</p>
            </div>
            <div class="col-4">
              <h5>Status</h5>
            </div>
            <div class="col-8">
              <p class="badge" :class="status[rowData.status]">
                <i class="mr-1 fa" :class="icon[rowData.status]" />
                {{ rowData.status }}
              </p>
            </div>
            <div class="col-4">
              <h5>Total</h5>
            </div>
            <div class="col-8">
              <p>{{ rowData.total | currency }} VND</p>
            </div>
            <div class="col-4">
              <h5>User</h5>
            </div>
            <div class="col-8">
              <p>{{ rowData.user.name }}</p>
            </div>
            <div class="col-4">
              <h5>Address</h5>
            </div>
            <div class="col-8">
              <p>{{ rowData.address }}</p>
            </div>
            <div class="col-4">
              <h5>Created</h5>
            </div>
            <div class="col-8">
              <p>{{ rowData.createdAt }}</p>
            </div>
            <div class="col-4">
              <h5>Updated</h5>
            </div>
            <div class="col-8">
              <p>{{ rowData.updatedAt }}</p>
            </div>
          </div>
          <div class="table-">
            <table class="table tablesorter table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="product in rowData.products" :key="product.id">
                  <td>{{ product.id }}</td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.category.name }}</td>
                  <td>{{ product.quantity }}</td>
                  <td>{{ product.price | currency }}</td>
                </tr>
                <tr class="font-weight-bold">
                  <td colspan="3" class="text-right">
                    Subtotal
                  </td>
                  <td class="text-danger text-right" colspan="2">
                    {{ rowData.total | currency }} VND
                  </td>
                </tr>
                <tr class="font-weight-bold">
                  <td colspan="3" class="text-right">
                    Shipping
                  </td>
                  <td class="text-danger text-right" colspan="2">
                    {{ rowData.total*0.05 | currency }} VND
                  </td>
                </tr>
                <tr class="font-weight-bold">
                  <td colspan="3" class="text-right">
                    Total
                  </td>
                  <td class="text-danger text-right" colspan="2">
                    {{ rowData.total + rowData.total*0.05 | currency }} VND
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <div class="dropdown">
            <button
              id="dropdownMenuButton"
              class="btn dropdown-toggle"
              :class="buttonChangeStatus[rowData.status]"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="mr-1 fa" :class="icon[rowData.status]" />
              {{ rowData.status | capitalize }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li v-for="item in statusDropdownList" :key="item" class="dropdown-item" @click="changeOrderStatus(item, rowData.id)">
                <i class="mr-1 fa" :class="icon[item]" />
                {{ item | capitalize }}
              </li>
            </div>
          </div>
          <button type="button" data-dismiss="modal" class="btn btn-secondary">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    rowData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      statusList: [
        'success', 'confirmed', 'shipping', 'cancelled', 'pending'
      ],
      status: {
        pending: 'badge-warning',
        confirmed: 'badge-info',
        shipping: 'badge-primary',
        success: 'badge-success',
        cancelled: 'badge-danger'
      },
      icon: {
        pending: 'fa-clock',
        confirmed: 'fa-check',
        shipping: 'fa-shipping-fast',
        success: 'fa-user-check',
        cancelled: 'fa-times'
      },
      buttonChangeStatus: {
        pending: 'btn-warning',
        confirmed: 'btn-info',
        shipping: 'btn-primary',
        success: 'btn-success',
        cancelled: 'btn-danger'
      }
    }
  },
  computed: {
    statusDropdownList() {
      return this.statusList.filter((status) => {
        return !(status === this.rowData.status)
      })
    }
  },
  methods: {
    changeOrderStatus(status, orderId) {
      this.$fstore.collection('orders').doc(orderId).update({
        status: status
      }).then(() => {
        this.$snotify.success('Order has been updated')
      }).catch((error) => {
        console.log(error)
        this.$snotify.error('Failed to update order status. Please try again later')
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.dropdown-item {
  cursor: pointer!important;
}
</style>
