<template>
  <div class="card shadow">
    <div v-if="hasTableName" class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <div class="row ml-1">
            <h3 class="mb-0 mr-3">
              {{ tablename }}
            </h3>
            <slot name="add-button" />
          </div>
        </div>
        <div class="col-lg-3 text-right">
          <input
            v-model="keywords"
            type="text"
            class="form-control form-alternative"
            placeholder="Search"
          >
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <vuetable
        ref="vuetable"
        :api-mode="false"
        :fields="fields"
        :per-page="perPage"
        :data-manager="dataManager"
        :css="css.table"
        pagination-path="pagination"
        @vuetable:pagination-data="onPaginationData"
      />
    </div>
    <div class="card-footer d-flex justify-content-end">
      <vuetable-pagination
        ref="pagination"
        :css="css.pagination"
        @vuetable-pagination:change-page="onChangePage"
      />
    </div>
  </div>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import _ from 'lodash'
export default {
  components: {
    Vuetable,
    VuetablePagination
  },
  props: {
    collection: {
      type: String,
      required: true
    },
    tablename: {
      type: String,
      required: true
    },
    data: {
      type: Array,
      required: true
    },
    fields: {
      type: Array,
      required: true
    },
    hasTableName: {
      type: Boolean,
      default: true
    },
    perPage: {
      type: Number,
      default: 10
    }
  },
  data() {
    return {
      css: {
        table: {
          tableWrapper: 'table-responsive',
          tableHeaderClass: 'thead-light',
          tableBodyClass: 'tablesorter table align-items-center table-flush',
          tableClass: 'ui blue selectable unstackable celled table',
          ascendingIcon: 'fas fa-arrow-up',
          descendingIcon: 'fas fa-arrow-down',
          sortableIcon: 'fas fa-arrow-down',
          handleIcon: 'fas fa-bars'
        },
        pagination: {
          infoClass: 'text-left',
          wrapperClass: 'text-right wrapper-page',
          activeClass: 'active',
          disabledClass: 'disabled',
          pageClass: 'btn btn-sm',
          linkClass: 'btn btn-sm',
          icons: {
            first: 'fas fa-angle-double-left',
            prev: 'fas fa-chevron-left',
            next: 'fas fa-chevron-right',
            last: 'fas fa-angle-double-right'
          }
        }
      },
      keywords: '',
      local: []
    }
  },
  computed: {
    itemPath() {
      const tmp = this.collection
      const tmpArray = tmp.split('')
      tmpArray.pop()
      return tmpArray.join('')
    }
  },

  watch: {
    data(newVal, oldVal) {
      this.local = newVal
      this.$refs.vuetable.refresh()
    },
    local(newVal, oldVal) {
      this.$refs.vuetable.refresh()
    },
    keywords(newValue, oldValue) {
      this.search(newValue)
    }
  },

  mounted() {},

  methods: {
    onPaginationData(paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
    },
    onChangePage(page) {
      this.$refs.vuetable.changePage(page)
    },
    dataManager(sortOrder, pagination) {
      if (this.data.length < 1) return

      let local = this.local

      // sortOrder can be empty, so we have to check for that as well
      if (sortOrder.length > 0) {
        local = _.orderBy(local, sortOrder[0].sortField, sortOrder[0].direction)
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      const from = pagination.from - 1
      const to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    },
    search(keywords) {
      if (keywords.length < 1) {
        this.local = this.data
        return
      }
      this.local = this.data.filter((item) => {
        for (const key in item) {
          if (typeof item[key] === 'object') {
            for (const otherKey in item[key]) {
              if (item[key][otherKey].toString().toLowerCase().includes(keywords.toLowerCase())) {
                return true
              }
            }
          } else if (item[key].toString().toLowerCase().includes(keywords.toLowerCase())) {
            return true
          }
        }
      })
    },
    onActionClicked(action, data) {
      console.log('slot actions: on-click', data)
    }
  }
}
</script>
<style lang="scss">
.table-responsive {
  thead {
    background-color: #f6f9fc;
    color: #8898aa;
  }
  td,
  th {
    font-size: 0.875rem !important;
  }
}
.wrapper-page {
  .btn {
    cursor: pointer;
  }
  .active {
    background-color: #5e72e4;
    border-color: #5e72e4;
    color: white !important;
  }
}
</style>
