<template>
  <div>
    <div class="header pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <div class="container-fluid">
        <div class="header-body">
          <div v-if="counter" class="row">
            <div class="col-xl-2 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Pending
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.order.pending }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-red">
                        <i class="fa fa-clock" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Confirmed
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.order.confirmed }}</span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="icon icon-shape text-white rounded-circle shadow bg-gradient-orange"
                      >
                        <i class="fas fa-check" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Shipping
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.order.shipping }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-green">
                        <i class="fa fa-shipping-fast" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Success
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.order.success }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-info">
                        <i class="fa fa-user-check" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Cancelled
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.order.cancelled }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-purple">
                        <i class="fa fa-times" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Total
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.order.total }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-indigo">
                        <i class="fa fa-receipt" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="mb-3">
        <ctable
          v-if="orders"
          :data="orders"
          :fields="ordersColumns"
          :collection="'orders'"
          :tablename="'Order Statistics'"
        >
          <template v-slot:add-button>
            <n-link to="/admin/order/add" class="btn btn-sm btn-primary">
              <i class="fa fa-plus" />
            </n-link>
          </template>
        </ctable>
      </div>
    </div>
  </div>
</template>

<script>
import ctable from '@/components/customs/ctable'
import OrderAction from '@/components/customs/actions/OrderAction'
export default {
  layout: 'admin',
  components: { ctable },
  data() {
    return {
      counter: null,
      orders: [],
      ordersColumns: [
        {
          name: 'id',
          title: 'ID',
          sortField: 'id',
          width: '20%'
        },
        {
          name: 'user.name',
          title: 'Name',
          sortField: 'username'
        },
        {
          name: 'numberOfProduct',
          title: 'Product',
          sortField: 'numberOfProduct'
        },
        {
          name: 'total',
          title: 'total',
          sortField: 'total',
          formatter: (value) => {
            let tmp = value.toFixed(1).replace(/\d(?=(\d{3})+\.)/g, '$&,')
            tmp = tmp.split('.')[0]
            tmp = tmp.split(',').join('.')
            return tmp
          }
        },
        {
          name: 'status',
          title: 'status',
          sortField: 'status',
          width: '10%',
          formatter: (status) => {
            return status === 'cancelled'
              ? '<span class="badge badge-danger"><i class="fa fa-times mr-1"></i> Cancelled</span>'
              : status === 'confirmed'
                ? '<span class="badge badge-primary"><i class="fa fa-check mr-1"></i> Confirmed</span>'
                : status === 'pending'
                  ? '<span class="badge badge-warning"><i class="fa fa-clock mr-1"></i> Pending</span>'
                  : status === 'success'
                    ? '<span class="badge badge-success font-weight-bold"><i class="fa fa-user-check mr-1"></i> Success</span>'
                    : '<span class="badge badge-info"><i class="fa fa-shipping-fast mr-1"></i> Shipping</span>'
          }
        },
        {
          name: 'createdAt',
          title: 'Created',
          sortField: 'createdAt'
        },
        {
          name: 'updatedAt',
          title: 'Updated',
          sortField: 'updatedAt'
        },
        {
          name: OrderAction,
          title: 'Action',
          width: '10%'
        }
      ]
    }
  },
  head() {
    return {
      title: 'Admin Order Control'
    }
  },
  mounted() {
    this.$loadCounter('admin')
    this.loadOrders()
  },
  methods: {
    loadOrders() {
      this.$fstore.collection('orders').onSnapshot((querySnapshot) => {
        const orders = querySnapshot.docs.map((order) => {
          return {
            ...order.data(),
            createdAt: order.data().createdAt.toDate().toLocaleDateString(),
            updatedAt: order.data().updatedAt.toDate().toLocaleDateString(),
            id: order.id
          }
        })
        this.orders = orders
      })
    }
  }
}
</script>
