<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <side-bar
      v-if="user"
      :background-color="sidebarBackground"
      short-title="Demin Bookshop"
      title="Demin"
      :user="user"
    >
      <template slot="links">
        <sidebar-item
          :link="{
            name: 'Dashboard',
            icon: 'fa fa-chart-line text-primary',
            path: '/admin'
          }"
        />

        <sidebar-item
          :link="{
            name: 'Order',
            icon: 'fa fa-receipt text-green',
            path: '/admin/order'
          }"
        />
        <sidebar-item
          :link="{
            name: 'Coupon',
            icon: 'fa fa-gift text-orange',
            path: '/admin/coupon'
          }"
        />
        <sidebar-item
          :link="{
            name: 'User',
            icon: 'fa fa-users text-indigo',
            path: '/admin/user'
          }"
        />
        <sidebar-item
          :link="{
            name: 'Product',
            icon: 'fa fa-book text-black',
            path: '/admin/product'
          }"
        />
        <sidebar-item
          :link="{
            name: 'Imports',
            icon: 'fa fa-server text-red',
            path: '/admin/imports'
          }"
        />
        <sidebar-item
          :link="{
            name: 'Author',
            icon: 'fa fa-user-edit text-blue',
            path: '/admin/author'
          }"
        />
        <sidebar-item
          :link="{
            name: 'Category',
            icon: 'fa fa-box-open text-darker',
            path: '/admin/category'
          }"
        />
        <sidebar-item
          :link="{
            name: 'Review',
            icon: 'fa fa-star text-yellow',
            path: '/admin/review'
          }"
        />
        <sidebar-item
          :link="{
            name: 'Publisher',
            icon: 'fa fa-user-edit text-green',
            path: '/admin/publisher'
          }"
        />
        <sidebar-item
          :link="{
            name: 'Provider',
            icon: 'fa fa-truck text-blue',
            path: '/admin/provider'
          }"
        />
      </template>
    </side-bar>
    <div class="main-content" :data="sidebarBackground">
      <dashboard-navbar v-if="user" :user="user" />

      <div @click="toggleSidebar">
        <fade-transition :duration="200" origin="center top" mode="out-in">
          <!-- your content here -->
          <router-view />
        </fade-transition>
        <content-footer />
      </div>
    </div>
    <vue-snotify />
  </div>
</template>
<script>
import { FadeTransition } from 'vue2-transitions'
import DashboardNavbar from '@/components/argon/DashboardNavbar.vue'
import ContentFooter from '@/components/argon/ContentFooter.vue'

export default {
  middleware: 'admin',
  components: {
    DashboardNavbar,
    ContentFooter,
    FadeTransition
  },
  data() {
    return {
      sidebarBackground: 'vue' // vue|blue|orange|green|red|primary
    }
  },
  computed: {
    user() {
      return this.$store.getters.userProfile
    }
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false)
      }
    }
  }
}
</script>
<style lang="scss">
@import '~vue-snotify/styles/material';
.badge {
  font-size: 70%!important;
}
</style>
