<template>
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Or sign in with credentials</small>
          </div>
          <form role="form">
            <base-input
              v-model="email"
              v-validate="'required|email'"
              name="email"
              class="input-group-alternative mb-3"
              placeholder="Email"
              addon-left-icon="fa fa-envelope"
            />
            <base-input
              v-model="password"
              v-validate="'required'"
              name="password"
              class="input-group-alternative"
              placeholder="Password"
              type="password"
              addon-left-icon="fa fa-lock"
            />

            <base-checkbox class="custom-control-alternative">
              <span class="text-muted">Remember me</span>
            </base-checkbox>
            <div class="text-center">
              <base-button type="primary" class="my-4" @click="login">
                Sign in
              </base-button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="#" class="text-light"><small>Forgot password?</small></a>
        </div>
        <div class="col-6 text-right">
          <router-link to="/register" class="text-light">
            <small>Create new account</small>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'auth',
  data() {
    return {
      email: '',
      password: ''
    }
  },
  head() {
    return {
      title: 'Demin Login'
    }
  },
  middleware: 'guest',
  computed: {
    user() {
      return this.$store.getters.userProfile
    }
  },
  watch: {
    user(after, before) {
      if (after && after.role === 'admin') {
        this.$router.push('/admin')
      } else if (after && after.role === 'customer') {
        this.$router.push('/')
      }
    }
  },
  methods: {
    login() {
      this.$validator.validateAll().then((valid) => {
        if (valid) {
          this.$fauth.signInWithEmailAndPassword(this.email, this.password).then(() => {
            console.log('ok')
            this.$snotify.success('Login successfully. Redirecting...')
          }).catch(() => {
            this.$snotify.error('Wrong email or password')
          })
          return
        }
        this.$snotify.warning('Please enter your email and password to login')
      })
    }
  }
}
</script>

<style>

</style>
