<template>
  <div>
    <div class="header pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <div class="container-fluid">
        <div class="header-body">
          <div v-if="counter" class="row">
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Total
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.product.total }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-red">
                        <i class="fa fa-warehouse" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Sold
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.product.sold }}</span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="icon icon-shape text-white rounded-circle shadow bg-gradient-orange"
                      >
                        <i class="fas fa-receipt" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Instock
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.product.instock }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-green">
                        <i class="fa fa-server" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="mb-3">
        <ctable
          v-if="categories"
          :data="categories"
          :fields="categoriesColumns"
          :collection="'categories'"
          :tablename="'Categories Statistics'"
        >
          <template v-slot:add-button>
            <button data-toggle="modal" data-target="#add-category-modal" class="btn btn-sm btn-primary">
              <i class="fa fa-plus" />
            </button>
            <AddCategoryModal />
          </template>
        </ctable>
      </div>
    </div>
  </div>
</template>

<script>
import ctable from '@/components/customs/ctable'
import AddCategoryModal from '@/components/customs/modals/add/AddCategoryModal'
export default {
  layout: 'admin',
  components: { ctable, AddCategoryModal },
  data() {
    return {
      counter: null,
      categories: [],
      categoriesColumns: [
        {
          name: 'id',
          title: 'id',
          sortField: 'id',
          width: '20%'
        },
        {
          name: 'name',
          title: 'name',
          sortField: 'name'
        },
        {
          name: 'product.total',
          title: 'total',
          sortField: 'product.total'
        },
        {
          name: 'product.sold',
          title: 'Sold',
          sortField: 'product.sold'
        },
        {
          name: 'product.instock',
          title: 'Instock',
          sortField: 'product.instock'
        },
        {
          name: 'createdAt',
          title: 'created',
          formatter: (value) => {
            if (value) {
              return value.toDate().toLocaleDateString()
            }
          },
          sortField: 'createdAt'
        },
        {
          name: 'updatedAt',
          title: 'Updated',
          formatter: (value) => {
            if (value) {
              return value.toDate().toLocaleDateString()
            }
          },
          sortField: 'updatedAt'
        }
      ]
    }
  },
  head() {
    return {
      title: 'Admin Category Control'
    }
  },
  mounted() {
    this.$loadCounter('admin')
    this.loadCategories()
  },
  methods: {
    loadCategories() {
      this.$fstore.collection('categories').onSnapshot((querySnapshot) => {
        const categories = querySnapshot.docs.map((category) => {
          return {
            ...category.data(),
            id: category.id
          }
        })
        this.categories = categories
      })
    }
  }
}
</script>
