<template>
  <div>
    <div class="header pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <div class="container-fluid">
        <div class="header-body">
          <div v-if="counter" class="row">
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Total
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.product.total }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-red">
                        <i class="fa fa-warehouse" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Sold
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.product.sold }}</span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="icon icon-shape text-white rounded-circle shadow bg-gradient-orange"
                      >
                        <i class="fas fa-receipt" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Instock
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.product.instock }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-green">
                        <i class="fa fa-server" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="mb-3">
        <ctable
          v-if="authors"
          :data="authors"
          :fields="authorsColumns"
          :collection="'authors'"
          :tablename="'Authors Statistics'"
        >
          <template v-slot:add-button>
            <button data-toggle="modal" data-target="#add-author-modal" class="btn btn-sm btn-primary">
              <i class="fa fa-plus" />
            </button>
            <AddAuthorModal />
          </template>
        </ctable>
      </div>
    </div>
  </div>
</template>

<script>
import ctable from '@/components/customs/ctable'
import AddAuthorModal from '@/components/customs/modals/add/AddAuthorModal'
export default {
  layout: 'admin',
  components: { ctable, AddAuthorModal },
  data() {
    return {
      counter: null,
      authors: [],
      authorsColumns: [
        {
          name: 'id',
          title: 'id',
          sortField: 'id',
          width: '20%'
        },
        {
          name: 'name',
          title: 'name',
          sortField: 'name'
        },
        {
          name: 'des',
          title: 'description',
          sortField: 'des'
        },
        {
          name: 'createdAt',
          title: 'created',
          sortField: 'createdAt',
          formatter: (value) => {
            if (value) {
              return value.toDate().toLocaleDateString()
            }
          }
        },
        {
          name: 'updatedAt',
          title: 'Updated',
          sortField: 'updatedAt',
          formatter: (value) => {
            if (value) {
              return value.toDate().toLocaleDateString()
            }
          }
        }
      ]
    }
  },
  head() {
    return {
      title: 'Admin Author Control'
    }
  },
  mounted() {
    this.$loadCounter('admin')
    this.loadAuthors()
  },
  methods: {
    loadAuthors() {
      this.$fstore.collection('authors').onSnapshot((querySnapshot) => {
        const authors = querySnapshot.docs.map((author) => {
          return {
            ...author.data(),
            id: author.id
          }
        })
        this.authors = authors
      })
    }
  }
}
</script>
