<template>
  <div>
    <div class="header pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <div class="container-fluid">
        <div class="header-body">
          <div v-if="counter" class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="card card-stats mb-4 mb-xl-0" show-footer-line="true">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">
                        Total
                      </h5>
                      <span class="h2 font-weight-bold mb-0">{{ counter.import }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow bg-gradient-red">
                        <i class="fa fa-star" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="mb-3">
        <ctable
          v-if="imports"
          :data="imports"
          :fields="importsColumns"
          :collection="'imports'"
          :tablename="'Imports Statistics'"
        >
          <template v-slot:add-button>
            <button data-toggle="modal" data-target="#add-import-modal" class="btn btn-sm btn-primary">
              <i class="fa fa-plus" />
            </button>
            <AddImportModal />
          </template>
        </ctable>
      </div>
    </div>
  </div>
</template>

<script>
import ctable from '@/components/customs/ctable'
import AddImportModal from '@/components/customs/modals/add/AddImportModal'
export default {
  layout: 'admin',
  components: { ctable, AddImportModal },
  data() {
    return {
      counter: null,
      imports: [],
      importsColumns: [
        {
          name: 'id',
          title: 'id',
          sortField: 'id',
          width: '20%'
        },
        {
          name: 'numberOfProducts',
          title: 'Products',
          sortField: 'numberOfProducts'
        },
        {
          name: 'provider.name',
          title: 'Provider',
          sortField: 'provider.name'
        },
        {
          name: 'createdAt',
          title: 'created',
          sortField: 'createdAt',
          formatter: (value) => {
            if (value) {
              return value.toDate().toLocaleDateString()
            }
          }
        },
        {
          name: 'updatedAt',
          title: 'Updated',
          sortField: 'updatedAt',
          formatter: (value) => {
            if (value) {
              return value.toDate().toLocaleDateString()
            }
          }
        }
      ]
    }
  },
  head() {
    return {
      title: 'Admin Import Control'
    }
  },
  mounted() {
    this.$loadCounter('admin')
    this.loadImports()
  },
  methods: {
    loadImports() {
      this.$fstore.collection('imports').onSnapshot((querySnapshot) => {
        const imports = querySnapshot.docs.map((item) => {
          return {
            ...item.data(),
            id: item.id
          }
        })
        this.imports = imports
      })
    }
  }
}
</script>
